# Dependencies
/quick-jot-backend/node_modules
/quick-jot-frontend/node_modules

# Environment variables
/quick-jot-backend/.env
/quick-jot-frontend/.env

# Frontend build output
/quick-jot-frontend/dist

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*